@import "../../app/component.scss";

.layout {
    border-right: 1px solid rgba(85, 82, 124, 0.1);
    display: block;
    position: fixed;
    width: 350px;
    height: 100vh;
    left: 0;
    top: 0;
    background: #fff;

    @media (max-width: 1040px) {
        display: none;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 60px 30px 50px 30px;
        text-align: center;

        .profile_container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .profile {
                position: relative;
                display: flex;
                width: 150px;
                height: 150px;
            }

            .desc {
                h3 {
                    font-size: 24px;
                    font-weight: bold;
                    padding-top: 10px;
                }
            }
        }

        nav {
            margin: 15px 0;
            width: 100%;
            ul {
                display: flex;
                flex-direction: column;
                font-family: "Montserrat", sans-serif;
                li {
                    margin-top: 20px;
                    font-size: 18px;
                    text-align: center;

                    a {
                        &.active {
                            color: $purple-color;
                            font-weight: bold;
                        }
                    }
                }
                li:first-child {
                    margin-top: 0;
                }
            }
        }
        .copyright {
            text-transform: uppercase;
            color: $gray;
            font-size: 14px;
        }
    }
}
