.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248 248 248 / 1);
    text-align: center;
    padding: 0 15px;

    h3 {
        font-size: 9vmin;
    }

    p {
        font-size: 4vmin;
    }

    .social {
        padding-top: 20px;
        display: flex;
        gap: 1rem;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            background: rgba(19, 15, 73, 0.051);
            border-radius: 100%;
            width: 40px;
            height: 40px;
        }
    }
}
